:root {
    --link-color:#ff4a4a;
    --link-hovered:#ff7158;
    --link-visited:#ff8476;
    --bg:#6D0509;
    --assignment-bg:#5f1010;
    --body-text:#FDF6E3;
    --assignment-text:#F9FAF9;
    --image-frame:#682729;
}

body{
    background:var(--bg); 
    font-family:'Times New Roman', Times, serif;
    color:var(--body-text);
    
}

h1 {
    text-align:center;
}

h2 {
    text-align:center;

}
a{
    text-decoration: none;
}

a:link{
    color:var(--link-color);
}

a:hover{
    color:var(--link-hovered);
}

a:visited{
    color:var(--link-visited);
}

.assignments {
    display:flex;
    flex-wrap:wrap
}
.assignment {
    width:23%;
    height:35%;
    padding:12px;
    margin:12px;
    border-radius:15px;
    background:var(--assignment-bg);
    color:var(--assignment-text);

}
.assignment img {
    width:200px;
    margin:12px;
    padding: 12px 10;
    border:4px solid var(--link-color);
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:4px solid var(--link-hovered);
}

